<div class="contact-us-container">
  <h2 class="contact-us-heading">Contact Us</h2>
  <p class="contact-us-description">
    If you have any questions or need assistance, please feel free to reach out
    to us at:
    <br />
    หากมีคำถามหรือต้องการความช่วยเหลือ สามารถติดต่อได้ที่:
  </p>

  <div class="contact-group-container">
    <div class="contact-group">
      <h3>Bride's side</h3>
      <p>
        Bride / เจ้าสาว:
        <a class="contact-link" href="tel:+66823564563">082 356 4563</a>
      </p>
      <p>
        Maid of Honor (Jib) / เพื่อนเจ้าสาว (จิ๊บ):
        <a class="contact-link" href="tel:+66871239575">087 123 9575</a>
      </p>
      <p>
        Bride's father / พ่อเจ้าสาว:
        <a class="contact-link" href="tel:+66804639549">080 463 9549</a>
      </p>
      <p>
        Bride's mother / แม่เจ้าสาว:
        <a class="contact-link" href="tel:+66832364535">083 236 4535</a>
      </p>
    </div>
    <div class="contact-group">
      <h3>Groom's side</h3>
      <p>
        Groom / เจ้าบ่าว:
        <a class="contact-link" href="tel:+66805108239">080 510 8239</a>
      </p>
      <p>
        Groom's Best Friend (Ploy) / เพื่อนเจ้าบ่าว (พลอย):
        <a class="contact-link" href="tel:+66635956596">063 595 6596</a>
      </p>
      <p>
        Groom's father / พ่อเจ้าบ่าว:
        <a class="contact-link" href="tel:+66804941555">080 494 1555</a>
      </p>
      <p>
        Groom's mother / แม่เจ้าบ่าว:
        <a class="contact-link" href="tel:+66810465804">081 046 5804</a>
      </p>
    </div>
  </div>
</div>
