.venue-container {
  background-color: var(--pallette-100);
  padding: 32px 0;
  color: var(--pallette-500);
  text-align: center;

  iframe {
    width: 90%;
    max-width: 800px;
  }
}

.venue-heading {
  font-weight: 600;
  font-size: 48px;
}

.venue-name {
  font-size: 32px                                                                                                                                                                                                                                                                                                                                                                                                                                                  ;
}
