<div class="venue-container">
  <h3 class="venue-heading">Venue</h3>
  <p class="venue-heading text-th">สถานที่จัดงาน</p>
  <p class="venue-name">Maihom villa</p>
  <p class="venue-name-subline">Mueng, Nakhon Sawan</p>
  <p class="venue-name text-th">โรงแรม ไม้หอม วิลล่า</p>
  <p class="venue-name-subline text-th">อ.เมือง จ.นครสวรรค์</p>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3840.639230252201!2d100.10845347596126!3d15.717287848762007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e04f912e589b9f%3A0xf3bc3732d2849d1d!2sMaihom%20Villa!5e0!3m2!1sen!2sth!4v1756312850393!5m2!1sen!2sth"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
