.rsvp-container {
  padding: 32px 0;
  text-align: center;
  background-color: var(--pallette-200);
}

.rsvp-button {
  background-color: var(--pallette-500);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 32px;
  cursor: pointer;
  border-radius: 8px;
}

.rsvp-button:hover {
  background-color: var(--pallette-400);
}

.rsvp-button:active {
  background-color: var(--pallette-300);
}

.rsvp-text {
  color: var(--pallette-500);

  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  margin-top: 0;
}

.rsvp-subtext {
  color: var(--pallette-500);

  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;

  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.rsvp-form:not(input) {
  color: var(--pallette-500);

  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;

  margin-top: 0;
}

.rsvp-form-container {
  display: grid;
  grid-template-columns: auto auto auto;

  @media screen and (max-width: 703px) {
    grid-template-columns: 24px auto 24px;
  }
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  grid-column-start: 2;
}

.rsvp-form input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--pallette-500);
}

.rsvp-form input:focus {
  outline: none;
  border: 1px solid var(--pallette-400);
}

.rsvp-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.rsvp-radio-group {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.rsvp-radio-item,
.rsvp-radio-item input,
.rsvp-radio-item label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 28px;
}

.rsvp-radio-item label {
  padding-left: 16px;
}

.rsvp-form input[type="radio" i] {
  align-self: center;
  accent-color: var(--pallette-500);
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;

  &:checked {
    background-color: var(--pallette-500);
    outline: 4px solid white;
    outline-offset: -4px;
  }
}

.rsvp-guest-hint {
  margin-bottom: 0;
}

.rsvp-form-error-message {
  color: red;
}
