<div class="dress-code-container">
  <h2 class="dress-code-heading">Dress Code</h2>
  <!-- <p class="dress-code-description">Formal Attire</p> -->

  <div class="color-set-container">
    <div class="color-set color-set-1-container">
      <div class="color-swatch" style="background-color: var(--pallette-500);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-400);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-300);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-200);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-100);"></div>
    </div>
    <div class="color-set color-set-2-container">
      <div class="color-swatch" style="background-color: var(--pallette-secondary-500);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-secondary-400);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-secondary-300);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-secondary-200);"></div>
      <div class="color-swatch" style="background-color: var(--pallette-secondary-100);"></div>
    </div>
  </div>
</div>
